<html>
<head>
  <title>Getbaqala_Task</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
</head>
<body style="background: #ebeced;">
  <div style="background: #ebeced; padding: 10px;">
    <div style="background: #FFFFFF; width: 80%; margin:auto;"">
      <div style=" font-family: 'Lato' ,
      sans-serif;color:#212E43; font-size: 18px;font-weight: bold; text-align: center; padding: 10px;">Hi
      <%= name%>,
    </div>
    <hr style="border: 1px solid #EBECED;width: 500px" />
    <div style="text-align: center; color:#212E43;font-family: 'Lato', sans-serif; font-size: 16px;  font-weight:400; padding: 20px;line-height: 1.8;">
        Welcome to Getbaqala_Task!<br />Your OTP for verifiying your email ID is <b><%= verificationCode%></b>.
    </div>
    <div style="text-align: center;font-family: 'Lato', sans-serif;color:#212E43; font-size: 16px;  font-weight:400; padding: 20px;line-height: 1.8;">
        For any help or assistance, reach out to us anytime at konarkjha@gmail.com
    </div>
    <hr style="border: 1px solid #EBECED;width: 600px" />
    <div style="text-align: center;font-family: 'Lato', sans-serif; font-size: 16px; font-weight: 500; font-style: italic; color:#A9A9A9 ;line-height: 1.8;">
      Kind Regards,<br />
      <div style="text-align: center;font-family: 'Lato', sans-serif;color:#212E43 ; font-size: 16px; font-weight:bolder;">
        Getbaqala_Task Team</div>
    </div>
  </div>
  <div style="font-family:Lato;text-align: center;color:#212E43;padding:16px;font-family:Lato; font-size: 12px;margin: auto;">
    For any queries, please call
    <span style="font-family:Lato; font-size: 14px; font-style: italic; color: #61CDCD; font-weight: 600">
      +918058847588</span><br/><br/>
  </div>
  </div>
</body>
</html>